<header class="header-section">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <img src="assets/images/logo/logo.png" alt="logo" />
        </a>
      </div>
      <ul class="menu">
        <li>
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            Home</a
          >
        </li>
      </ul>
      <div class="header-bar d-lg-none">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
