<section class="movie-section padding-top padding-bottom">
  <div class="container">
    <div class="row flex-wrap-reverse justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-3">
        <div class="widget-1 widget-banner">
          <div class="widget-1-body">
            <a href="#0">
              <img
                src="assets/images/sidebar/banner/banner01.jpg"
                alt="banner"
              />
            </a>
          </div>
        </div>
        <div class="widget-1 widget-check">
          <div class="widget-header">
            <h5 class="m-title">Filter By</h5>
            <a type="button" (click)="clearFilter()" class="clear-check"
              >Clear All</a
            >
          </div>
        </div>
        <div class="widget-1 widget-check">
          <div class="widget-1-body">
            <h6 class="subtitle">genre</h6>
            <div class="check-area">
              @for (genre of genres; track genre) {
              <div class="form-group">
                <input
                  type="checkbox"
                  [checked]="filter.genres.includes(genre.toLowerCase())"
                  (click)="addGenreFilter(genre)"
                  name="genre"
                  [id]="genre"
                /><label [for]="genre">{{ genre }}</label>
              </div>
              }
            </div>
            <div class="add-check-area">
              <a href="#0">view more <i class="plus"></i></a>
            </div>
          </div>
        </div>
        <div class="widget-1 widget-banner">
          <div class="widget-1-body">
            <a href="#0">
              <img
                src="assets/images/sidebar/banner/banner02.jpg"
                alt="banner"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 mb-50 mb-lg-0">
        <div class="filter-tab tab">
          <div class="filter-area">
            <div class="filter-main">
              <ul class="grid-button tab-menu">
                <li class="active">
                  <i class="fas fa-th"></i>
                </li>
                <li>
                  <i class="fas fa-bars"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-area">
            <div class="tab-item active">
              <div class="row mb-10 justify-content-center">
                @for (movie of filteredMovies; track movie.movieId) {
                <app-movie [Movie]="movie" />
                }@empty {
                <div>no movie found</div>
                }
              </div>
            </div>
            <div class="tab-item">
              <div class="movie-area mb-10">
                @for(movie of filteredMovies; track movie.movieId){
                <app-movie-card-horizontal [Movie]="movie" />
                }
              </div>
            </div>
          </div>
          <div class="pagination-area text-center">
            <a
              href="javascript:void(0)"
              (click)="goToPage(currentPage - 1)"
              [class.hidden]="currentPage === 1"
            >
              <i class="fas fa-angle-double-left"></i><span>Prev</span>
            </a>
            <a
              *ngFor="let page of [].constructor(totalPages); let i = index"
              href="javascript:void(0)"
              [class.active]="currentPage === i + 1"
              (click)="goToPage(i + 1)"
            >
              {{ i + 1 }}
            </a>
            <a
              href="javascript:void(0)"
              (click)="goToPage(currentPage + 1)"
              [class.hidden]="currentPage === totalPages"
            >
              <span>Next</span><i class="fas fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
