<a href="#0" class="scrollToTop">
  <i class="fas fa-angle-up"></i>
</a>

<section class="banner-section">
  <div
    class="banner-bg bg_img bg-fixed"
    data-background="assets/images/banner/banner01.jpg"
    style="background-image: url('assets/images/banner/banner01.jpg')"
  ></div>
  <div class="container">
    <div class="banner-content">
      <h1 class="title cd-headline clip">
        <span class="d-block">book your</span> tickets for
        <span
          class="color-theme cd-words-wrapper p-0 m-0"
          style="width: 278.359px"
        >
          <b class="is-visible">Movie</b>
          <b class="is-hidden">Event</b>
          <b class="is-hidden">Sport</b>
        </span>
      </h1>
      <p>Safe, secure, reliable ticketing.Your ticket to live entertainment!</p>
    </div>
  </div>
</section>
<app-movies-search />
